<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    .in{
        color:red;
    }
</style>
   {% load static %}

    <link href="{% static 'css/new.css'%}" rel="stylesheet">
    <script src="{% static 'js/new.js' %}" type="text/javascript"></script>

</head>
<body>
<h3>Static file management...</h3>

<img src="{% static 'images/nature.jpeg' %}" height="300" width="300">

<h4 style="color:blue;">inline css</h4>
<h4 class="in">internal css</h4>
<h4 class="ext">extrernal css</h4>
<h4 class="ext2">extrernal css 2..</h4>
<button onclick="clickMe()"> clickme </button>
<button onclick="clickMe2()"> clickme2 </button>

</body>
</html>